# Whenever this version string changes, the application is configured
# and rebuilt from scratch

VERSION = delta-2024-02-08

CPP  = cpp
FPP  = cpp
CC   = gcc
CXX  = g++
F77  = gfortran
F90  = gfortran


##CPPFLAGS = -DSIMD_CPU
##FPPFLAGS = -traditional
# do not add -std=gn99 or -std=c99 below since that causes nvcc to fail linking
# HydroRNSID's utilities. GCC on Delta defaults to c17, so is "new enough"
##CFLAGS    = -pipe -g -std=gnu11
##CXXFLAGS  = -pipe -g -std=c++17
##F90FLAGS  = -ffixed-line-le
##F77FLAGS  = -ffixed-line-length-none -fno-range-check -fomit-frame-pointer
##LDFLAGS = -L${TACC_NVPL_LIB}


CPPFLAGS = -DSIMD_CPU
FPPFLAGS = -traditional 
# do not add -std=gn99 or -std=c99 below since that causes nvcc to fail linking
# HydroRNSID's utilities. GCC on Delta defaults to c17, so is "new enough"
CFLAGS    = -pipe -g -std=gnu11 #-mcpu=neoverse-v2 
CXXFLAGS  = -pipe -g -std=c++17 #mcpu=neoverse-v2
F90FLAGS  = -g -fcray-pointer -ffixed-line-length-none -fno-range-check -fomit-frame-pointer #-mcpu=neoverse-v2 -fcray-pointer 
F77FLAGS  = -g -fcray-pointer -ffixed-line-length-none -fno-range-check -fomit-frame-pointer #-mcpu=neoverse-v2 -fcray-pointer 
LDFLAGS = -L${TACC_NVPL_LIB} 


### Grace-specific compile flags
##GRACE_OPT_FLAGS = -O3 -mcpu=neoverse-v2
##export TACC_VEC_FLAGS = "-Mvect=simd -fast -Mipa=fast,inline"

SYS_INC_DIRS = ${TACC_GSL_DIR}/include
LIBDIRS      = ${TACC_GSL_DIR}/lib
LIBS         = gfortran hdf5

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

DEBUG            = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0
F90_DEBUG_FLAGS = -O0

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O2 #-mkl=sequential #-Ofast
CXX_OPTIMISE_FLAGS = -O2 #-mkl=sequential #-Ofast
F77_OPTIMISE_FLAGS = -O2 #-Ofast
F90_OPTIMISE_FLAGS = -O2 #-mkl=sequential #-Ofast

CPP_NO_OPTIMISE_FLAGS  =
FPP_NO_OPTIMISE_FLAGS  =
C_NO_OPTIMISE_FLAGS    = -O0
CXX_NO_OPTIMISE_FLAGS  = -O0
CUCC_NO_OPTIMISE_FLAGS =
F77_NO_OPTIMISE_FLAGS  = -O0
F90_NO_OPTIMISE_FLAGS  = -O0

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN            = yes
CPP_WARN_FLAGS  = -Wall
FPP_WARN_FLAGS  = -Wall
C_WARN_FLAGS    = -Wall
CXX_WARN_FLAGS  = -Wall
F90_WARN_FLAGS  = -Wall
F77_WARN_FLAGS  = -Wall

MPI_DIR      = ${TACC_MPI_DIR}
MPI_INC_DIRS = ${TACC_MPI_DIR}/include
MPI_LIB_DIRS = ${TACC_MPI_DIR}/lib
MPI_LIBS     = mpi

BLAS_DIR        = ${TACC_NVPL_DIR}
BLAS_INC_DIRS   = ${TACC_NVPL_DIR}/include
BLAS_LIB_DIRS   = ${TACC_NVPL_DIR}/lib
BLAS_LIBS       = nvpl_blas_lp64_gomp

LAPACK_DIR      = ${TACC_NVPL_DIR}
LAPACK_INC_DIRS = ${TACC_NVPL_DIR}/include
LAPACK_LIB_DIRS = ${TACC_NVPL_DIR}/lib
LAPACK_LIBS     = nvpl_lapack_lp64_gomp

HWLOC_DIR      = ${TACC_MPI_DIR}
HWLOC_INC_DIRS = ${TACC_MPI_DIR}/include
HWLOC_LIB_DIRS = ${TACC_MPI_DIR}/lib

BOOST_DIR = ${TACC_BOOST_DIR}
FFTW3_DIR = ${TACC_FFTW3_DIR}
GSL_DIR = ${TACC_GSL_DIR}

HDF5_DIR = ${TACC_HDF5_DIR}
HDF5_INC_DIRS = ${TACC_HDF5_INC}
HDF5_LIB_DIRS = ${TACC_HDF5_LIB}

PTHREADS_DIR = NO_BUILD

PAPI_DIR = /opt/apps/papi/7.1.0
